@import url('https://fonts.googleapis.com/css?family=KoHo');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.login{
    padding-top:150px;
    margin-left: 20%;
}

.formmanutencao{
    padding-top: 45px;
    margin-left:20%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:20px;
}

.formmlista{
    padding-top: 75px;
    margin-left:20%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:20px;
}


.formmlista2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
    color:darkslategrey;

}

.txtlista{
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    color:dimgrey
}

.marginid{
    margin-left: 19.5%;
    color:red;
}

.margintitulo{
margin-left: 14.5%;
}

.margininicio{
margin-left:15.5%;
}

.marginfim{
margin-left:17.5%;
}


.margindesc{
margin-left: 11%;
}

.botaogrande{
    width: 100%;
}

.imgheader{
    padding-top:15px;
    width: 75%;
}

.txtheader{
    padding-top:10px;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.txtlogin{
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}

.espacamento {
    padding-bottom: 20px;
}

.espacamentotop{
padding-top: 55px;
}

hr {
background-color: red;
height: 1px;
border: 0; }


