<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Host Maintenance</title>
    {%  block header %}
    {% endblock %}
</head>
<body>
    <aside>
        <menu>
            <ul>
                <li><a href="{{ url_for('maintenance', user=user) }}">Criar Manutenção</a></li>
                <li><a href="{{ url_for('maintenance_list') }}">Lista de manutenções</a></li>
            </ul>
        </menu>
    </aside>
    <div class="container">
        <header class="row txtheader">
            <div class="col-md-6 imgheader text-left">
                <img class="img-responsive text-right" src="{{  url_for('static', filename='img/zabbixlogo.png') }}" alt="Logo Zabbix">
            </div>
            <div class="col-md-6 text-right">
                <p class="txtheader">Host Maintenance</p>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>