{% extends "base.html" %}
{% block content %}
<div class="row txtlogin">
            <div class="col-md-6 login">
                <form method="POST" action="{{ url_for('auth') }}">
                   
                        <div class="col-md-12 form-group">
                            <h2 class="text-center">Login</h2>
                            <label for="Usuario">Usuário:</label>
                            <input type="text" id="usuario" name="user" class="form-control" placeholder="Usuário"
                                required autofocus>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="pswrd">Senha:</label>
                            <input type="password" id="pswrd" name="password" class="form-control" placeholder="Senha" required>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary text-center botaogrande">ENTRAR</button>
                        </div>
                </form>
            </div>
        </div>
{% endblock %}