{% extends "base.html" %}
{% block content %}
 <div class="row formmanutencao">
     <div class="col-md-8 form-group">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                   <p class="espacamento text-left"><a href="{{ url_for('maintenance_list') }}">Lista de Manutenções</a></p>
                        </div>
            <div class="col-md-12 form-group">
                <form method="POST" action="{{ url_for('maintenanceToZabbix') }}">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="tituloManutencao">Titulo da manutenção:</label>
                            <input type="text" id="tituloManutencao" name="name" class="form-control">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="descricaoManutencao">Descrição da manutenção:</label>
                            <textarea class="form-control" rows="5" id="descricaoManutencao" name="description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="inicioManutencao">Horário de início:</label>
                            <input type="datetime-local" id="inicioManutencao" name="starttime" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="fimManutencao">Horário de término:</label>
                            <input type="datetime-local" id="fimManutencao" name="endtime"class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="tipoManutencao">Tipo:</label>
                            <select class="form-control form-control-lg" id="tipoManutencao" name="maintenance_type" class="form-control">
                                <option selected>Escolha uma opção....</option>
                                <option value="1">Sem coleta de dados</option>
                                <option value="2">Com coleta de dados</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 form-group">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#elementos">Host</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="elementoss" class="tab-pane fade in active">
                                    <select multiple class="form-control" id="elementos" name="host_list" size='10'>
                                            {% for host in hosts %}
                                                <option value="{{ host.hostid }}">{{ host.name }}</option>
                                            {% endfor %}
                                        </select>
                            </div>                   
                        </div>                                                                       
                        </div>
                        <div class="col-md-12">
                                <button type="submit" class="btn btn-primary text-center botaogrande">ENVIAR</button>
                            </div>
                    </div>

                </form>
            </div>
        </div>
{% endblock %}