{% extends "base.html" %}
{% block content %}
    {% for maintenance in maintenances %}
   <div class="col-md-12">
                <p>ID: {{ maintenance.maintenanceid }}</p>
                <p>Título: {{ maintenance.name }}</p>
                <p>Descrição: {{ maintenance.description }}</p>
                <p>Início: {{ maintenance.active_since }}</p>
                <p>Fim: {{ maintenance.active_till }}</p>
                <p>Hosts: {% for host in maintenance.hosts %} </p>
                <p>{{ host.name }}</p>
                <p>{% endfor %}</p>
                <hr>
            </div>

    {% endfor %}

{% endblock %}