{% extends "base.html" %}
{% block content %}
<form method="POST" action="{{ url_for('manitenanceToZabbix') }}">
    <ul>
        <li><h3>Título da manutenção: </h3><input type="text" name="name"></li>
        <li><h3>Descrição: </h3><input type="text" name="description"></li>
        <li><h3>Tipo: </h3>
            <input type="radio" value="0" name="maintenance_type">Sem coleta de dados<br>
            <input type="radio" value="1" name="maintenance_type">Com coleta de dados<br></li>
        <li><h3>Início: </h3><input type="datetime-local" name="starttime"></li>
        <li><h3>Fim: </h3><input type="datetime-local" name="endtime"></li>
        <li><h3>Elementos: </h3>
            <input type="radio" value="0" name="target">Hosts<br>
            <input type="radio" value="1" name="target">Grupo de hosts<br></li>
        <select multiple="multiple" name="host_list" size='30'>
            {% for host in hosts %}
                <option value="{{ host.hostid }}">{{ host.name }}</option>
            {% endfor %}
        </select>
        <li><input type="submit"></li>
    </ul>
</form>
{% endblock %}